<%- include("partials/header") %>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://media.tenor.com/RDkJjx1qvvsAAAAj/oops-ops.gif" alt="" height="180" width="150.3">
    <h1 class="display-5 fw-bold">Oops! Not Found</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Your entered data didn't match</p>
      <p class="lead mb-4">Check Your Email and Password then try Again</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/"><button type="button" class="btn btn-danger btn-lg px-4 gap-3"> Log In</button></a>
        <button type="button" class="btn btn-outline-danger btn-lg px-4">Sign Up</button>
      </div>
    </div>
  </div>

<%- include("partials/footer") %>