<%- include("partials/header") %>
<div class="text-center log">
    
    <main class="form-signin w-100 m-auto">
      <form action="/userData" method="post">
        <!-- <img class="mb-4 logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPe-IVBvoca8CBzUNLLUZCU_cDACaJfDnx-g&usqp=CAU" alt=""
        height="150px" width="150px"> -->
        <h1 class="h3 mb-3 fw-normal">Create an account</h1>
    
        <div class="form-floating">
          <input required name="name" type="text" class="form-control" id="floatingInput" >
          <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating">
          <input required name="group" type="text" class="form-control" id="floatingPassword" >
          <label for="floatingPassword">Blood Group</label>
        </div>
        <div class="form-floating">
            <input required name="address" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Address</label>
          </div>
          <div class="form-floating">
            <input required name="contact" type="number" class="form-control" id="floatingPassword" >
            <label for="floatingPassword">Contact no.</label>
          </div>
          <div class="form-floating">
            <input required name="mail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input required name="pass" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
    
        <div class="checkbox mb-3">
          <label>
            <input required type="checkbox" value="remember-me"> I agree all Term and condition
          </label>
        </div>
        <button class=" btn btn-danger" type="submit">Create</button>
      </form>
    </main>  
</div>
<%- include("partials/footer") %>