<%- include("partials/header") %>
<div class="px-4 py-5 my-5 text-center">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/"><button type="button" class="btn btn-danger success btn-lg px-4 gap-3">Home</button></a>
      </div>
    <h1 class="display-5 fw-bold">Succesfully Entered</h1>
    <img class="d-block mx-auto mb-4" src="https://media.tenor.com/AFLSNpQpHVcAAAAj/my-melody.gif" alt="" >
  </div>

<%- include("partials/footer") %>